*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0;
    padding: 0 0 ;
    user-select: none;
    box-sizing: border-box;
}
.title{
    text-align: center;
    background-color:#1b1b1b;
    font-size: 34px;
    font-weight: bold;
    width: 100%;
    letter-spacing: 1px;
    line-height: 60px;
}
.img-resp{
    width: 100%;
}
a{  
    color: white;
    text-decoration: none;
}
.menu{
   height: 90%;
   background-color: #1b1b1b;
}
.left{
    width:25%;
    float: left;
}
.titleMenu .navbar{
    position: fixed;
 
  height: 100%;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.navbar .titleMenu{
    color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
    background: #1b1b1b;
    
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 50px;
    border-bottom: 1px solid gray;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    padding: 2%;
    width: 100%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
nav ul li a:hover{
    color: lightslategray;
    font-size: 22px;
    background-color: #1e1e1e;
    border-left-color:lightslategray;
    border-right-color:lightslategray;
}

.right{
    height: 100%;
    width:75%;
    background-image: url(../img/back.png);
    padding:2% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}
.socialdiv{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.fb{
    width: 250px;
    height: 155px;
    float: left;

}
.fb:hover{
    background-color: #4668b3;
}
.yt{
    width: 250px;
    height: 155px;
    float: left;

}
.yt:hover{
    background-color: #d94348;
}
.tw{
    width: 250px;
    height: 155px;
    float: left;

}
.tw:hover{
    background-color: #6441a5;
}
.am{
    width: 250px;
    height: 155px;
    float: left;

}
.am:hover{
    background-color: #e47911;
}
.social{
    width: 100%;
    text-align: center;
    background-color: #292929;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    text-align: center;
    background-color: #222222;
    color: white;
}
.conteiner{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.clear{
    clear: both;
    float: none;
}
.content{
    color: white;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    position: relative;
    width: 100%;
   
}
.content h1{
    font-size: 60px;
  
}
.content p{
    margin: auto;
    font-weight: bold;
    line-height: 50px;
}
p{
    padding: 2%;
}
.content .button-type{
    width: 200px;
    margin: 20px;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #1b1b1b;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}


.content span{
    width: 0;
    height: 100%;
    border-radius: 30px;
    background-color:gray;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.content .button-type:hover span{
    width: 100%;
}
.content .button-type:hover {
    border: none;
}
.button-box{
    text-align: center;
    margin-top: 1%;
    padding: 3% 0;
}
.form-box{
    width: 60%;
    margin: 1% auto;
    background: linear-gradient(to right, white, 	#808080);
    padding: 5px;
    overflow:hidden;
    border: 1px solid  black;
    border-radius: 10px;
}
.input-group{
    margin-left: auto;
    margin-right: auto;
     text-align: center;
     width: 70%; 
 }

.input-field{
    width:50%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border: 2px solid black;
    outline: none;
    background: transparent;
    transition: all 0.2s linear;
    border-radius: 6px;
    text-align: center;
    
}
input:is(:focus, :valid) {
    border-color: white;
    
    font-size: 16px;
    font-weight: 600;
    top: 0;
}
.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    display: inline;
    margin: auto;
    background: linear-gradient(to right, #000000, 	#808080);
    border:0;
    outline:none;
    border-radius: 30px;
    color:#fff;
}
.submit-btn:hover{
    background: linear-gradient(to right, #808080, 	#000000);
   
}
select{
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    background-image: url(../img/status.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;;
    font-size: 18px;
    
}
option{
    background: #1e1e1e;
}